/* .AboutDetails{
    padding: 80px 100px;
}

.AboutDetails-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.AboutDetails-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.AboutDetails-text {
    flex: 1;
    text-align: left;
}

.AboutDetails-text h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 20px;
}

.AboutDetails-text p {
    font-size: 1rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 20px;
}

.AboutDetails-image {
    flex: 1;
}

.AboutDetails-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.AboutDetails-image {
    margin-top: 20px;
}

.AboutDetails-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
 */

 .AboutDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #fdf4a1;
}

.AboutDetails-container {
    display: flex;
    max-width: 1200px;
    gap: 30px;
    flex-wrap: wrap;
}

.AboutDetails-image {
    flex: 1;
    min-width: 400px;
}

.carousel-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.AboutDetails-text {
    flex: 1;
    min-width: 400px;
    color: #000;
}

.AboutDetails-text h2 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.AboutDetails-text p {
    font-size: 1.1rem;
    line-height: 1.8;
}
