.tourist-spot {
    padding: 100px 100px;
    text-align: center;
    background-color: #fffbea;
}

.section-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
    font-family: 'Georgia', serif;
}

.spot-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.spot-card {
    background: #ffe161;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

.spot-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.spot-content {
    padding: 20px;
    flex-grow: 1; /* Membuat konten memanjang jika perlu */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spot-content h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    flex-shrink: 0; /* Pastikan judul tidak terpotong */
}

.spot-content p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
    flex-grow: 1; /* Isi deskripsi menyesuaikan */
    text-align: justify;
}

.learn-more-btn {
    background-color: #cfcfcf;
    border: none;
    padding: 10px 15px;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start; /* Posisi tombol di bawah kiri */
}

.learn-more-btn:hover {
    background-color: #212529;
}

a {
    text-decoration: none;
}
